<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAMS:INTERNSHIP</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/forms.css">
</head>

<body>
    <nav>
        <h3><a href="/dashboard">SAMS</a></h3>
        <ul>
            <li><a href="/marks">MARKS</a></li>
            <li><a href="/projects">PROJECTS</a></li>
            <li><a href="/achievement">ACHIEVEMENTS</a></li>
            <li><a href="/internship">INTERNSHIP</a></li>
        </ul>
    </nav>
    <div class="Form">
        <div class="container mt-5">
            {{#if msg}}
            <h6 class="alert alert-success mt-4 mb-4">{{msg}}</h6>
            {{/if}}
            <div class="card">
                <div class="card-header">
                    ADD INTERNSHIP
                </div>
                <div class="card-body">
                    <form action="/auth/addInteernship" method="post" enctype="multipart/form-data">
                        <label class="custum-file-upload" for="projectImage">
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="" viewBox="0 0 24 24">
                                    <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
                                    <g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <path fill=""
                                            d="M10 1C9.73478 1 9.48043 1.10536 9.29289 1.29289L3.29289 7.29289C3.10536 7.48043 3 7.73478 3 8V20C3 21.6569 4.34315 23 6 23H7C7.55228 23 8 22.5523 8 22C8 21.4477 7.55228 21 7 21H6C5.44772 21 5 20.5523 5 20V9H10C10.5523 9 11 8.55228 11 8V3H18C18.5523 3 19 3.44772 19 4V9C19 9.55228 19.4477 10 20 10C20.5523 10 21 9.55228 21 9V4C21 2.34315 19.6569 1 18 1H10ZM9 7H6.41421L9 4.41421V7ZM14 15.5C14 14.1193 15.1193 13 16.5 13C17.8807 13 19 14.1193 19 15.5V16V17H20C21.1046 17 22 17.8954 22 19C22 20.1046 21.1046 21 20 21H13C11.8954 21 11 20.1046 11 19C11 17.8954 11.8954 17 13 17H14V16V15.5ZM16.5 11C14.142 11 12.2076 12.8136 12.0156 15.122C10.2825 15.5606 9 17.1305 9 19C9 21.2091 10.7909 23 13 23H20C22.2091 23 24 21.2091 24 19C24 17.1305 22.7175 15.5606 20.9844 15.122C20.7924 12.8136 18.858 11 16.5 11Z"
                                            clip-rule="evenodd" fill-rule="evenodd"></path>
                                    </g>
                                </svg>
                            </div>
                            <div class="text">
                                <span>Click to internship image</span>
                            </div>
                            <input type="file" id="projectImage" name="projectImage" accept=".png,.jpg,.jpeg"
                                required />
                        </label>

                        <div class="mb-3">
                            <label for="title" class="form-label">TITLE</label>
                            <input type="text" class="form-control" id="title" name="title" required>
                        </div>
                        <div class="mb-3">
                            <label for="date" class="form-label">DATE</label>
                            <input type="text" class="form-control" id="date" name="date" required>
                        </div>
                        <div class="mb-3">
                            <label for="location" class="form-label">LOCATION</label>
                            <input type="text" class="form-control" id="location" name="location" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="form4Example3">DESCRIPTION</label>
                            <div data-mdb-input-init class="form-outline mb-4">
                                <textarea class="form-control" id="form4Example3" rows="4"
                                    name="description"></textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">UPLOAD</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <footer>
        <div>© 2021 - Made with &hearts; by Mausooq & Nafih</div>
        <a href="/auth/logout">Logout</a>
    </footer>
</body>

</html>