<!-- dashboard.handlebars -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="./dashboard.css">
</head>

<body>
  <nav>
    <a href="/dashboard">SAMS</a>
  </nav>
  <div class="dashboardCont">
    <h1>WELCOME</h1>
    <div class="card">
      <div class="card2">
      </div>
    </div>
  </div>

  <footer>
    <div>© 2021 - Made with &hearts; by Mausooq & Nafih</div>
    <a href="/auth/logout">Logout</a>
  </footer>
</body>

</html>