<!-- dashboard.handlebars -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
</head>
<body>
  <h1>Welcome to the Dashboard,!</h1>
    <p>User ID: {{userId}}</p>
  <!-- Other dashboard content here -->
  <a href="/auth/logout">Logout</a>

</body>
</html>
