<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <nav>
        <h3><a href="/dashboard">SAMS</a></h3>
        <ul>
            <li><a href="/marks">MARKS</a></li>
            <li><a href="/projects">PROJECTS</a></li>
            <li><a href="/achievement">ACHIEVEMENTS</a></li>
            <li><a href="/internship">INTERNSHIP</a></li>
        </ul>
    </nav>
    <h1>internship</h1>
</body>
</html>