<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAMS:Profile</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/cards.css">
</head>

<body>
    <nav>
        <h3><a href="/dashboard">SAMS</a></h3>
        <ul>
            <li><img src="../assets/profile-user.png" alt=""></li>

        </ul>
    </nav>

    <div class="container " id="container">

    </div>

    <footer>
        <div>© 2021 - Made with &hearts; by Mausooq & Nafih</div>
        <a href="/auth/logout">Logout</a>
    </footer>
</body>

</html>