@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;1,400&family=EB+Garamond:wght@400;800&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  /* background-color: #b4d4ff; */
  background: #8e9eab; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #eef2f3,
    #8e9eab
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #eef2f3,
    #8e9eab
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: "EB Garamond", serif;
}
nav {
  background-color: #e0edfd;
  color: #365486;
  padding: 30px 60px;
  display: flex;
  justify-content: space-between;
}
nav h3 {
  font-weight: bold;
}
nav h3 a {
  color: #365486;
  font-weight: bold;
  text-decoration: none;
}
nav h3 a:hover {
  color: #2ab0dd;
  text-decoration: none;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav li {
  list-style: none;
}
nav li a {
  color: #365486;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  padding: 5px 10px;
}
nav li a:hover {
  text-decoration: none;
  color: #2ab0dd;
}
footer {
  height: 12vh;
  background-color: #81949c;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.createBtn {
  margin-left: 90vw;
}

.createBtn button {
  margin-bottom: 10px;
  border: 2px solid #24b4fb;
  background-color: #24b4fb;
  border-radius: 0.9em;
  padding: 0.8em 1.2em 0.8em 1em;
  transition: all ease-in-out 0.2s;
  font-size: 16px;
}

.createBtn button span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
}

.createBtn button:hover {
  background-color: #0071e2;
}
@media (max-width: 768px) {
  .createBtn {
    margin-left: 70vw;
  }
}
footer a {
  color: #f5f5f5;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  padding: 5px 10px;
}
footer a:hover {
  text-decoration: none;
  color: #d82c2c;
}
