* {
  margin: 0;
  padding: 0;
}
body {
  /* background-color: #b4d4ff; */
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
nav {
  background-color: #eef5ff;
  color: #365486;
  padding: 30px 60px;
  display: flex;
  justify-content: space-between;
}
nav h3{
  font-weight: bold;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav li {
  list-style: none;
}
nav li a {
  color: #365486;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  padding: 5px 10px;
}
nav li a:hover{
  text-decoration: none;
  color: #2ab0dd;
}
